@import 'normalize.css';

:root {
    --background-color: #111111;
    --button-height: 42px;
    --background-button-dark: #404446;

    // Default layout
    --white-color: #fff;
    --font-family: 'Quicksand', 'san-serif';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

html {
    font-size: 62.5%;
    color: var(--white-color);
    user-select: none;
}

// Scroll bar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.3);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    overflow-y: overlay;
}

button {
    cursor: pointer;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Tippy tooltip
body {
    .tippy-box {
        font-weight: 6000;
        font-size: 1.4rem;
        line-height: 22px;
        padding: 4px 0;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}