.wrapper {
    --header-height: 70px;
    width: 100%;
    height: var(--header-height);
    // background-color: var(--background-color);
    background-color: transparent;
    padding: 6px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

// Logo
.logo {
    height: 100%;
    width: 200px;
    user-select: none;

    .logo-image {
        height: calc(var(--header-height) - 12px);
    }
}

// Navbar
.navbar {
    flex: 1;

    .navbar-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .navbar-item {
            color: #fff;
            padding: 1.6rem;
            cursor: pointer;
            font-weight: 600;
            font-size: 1.7rem;
            transition: all ease-out 0.2s;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            &:hover .bar-bottom {
                width: 100%;
            }
        }
    }

    .bar-bottom {
        height: 1px;
        width: 0;
        background-color: #fff;
        border-radius: 1.2rem;
        transition: all ease-out 0.4s 0.1s;
    }

    .navbar-item.active {
        opacity: 1;
    }

    .navbar-item.active .bar-bottom {
        width: 100%;
    }
}

//Search
.options {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

// Announcement 
.announcement-icon {
    padding: 8px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
}



// Header-right
.user {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

// Dropdown user
.wrap-user {
    min-width: 200px;
}
