.carousel {
    position: relative;
    margin-bottom: -22vh;
    z-index: 2;

    .carousel-wrapper {
        position: relative;
    }
}

.carousel-slide-padding {
    padding: 0;
}

    
.list {
    position: relative;
    z-index: 3; 

    .list-movie {
        padding-left: 6rem;
        padding-bottom: 5rem;
    }
    
    .list-title {
        padding-left: 1rem;
        color: #fff;
        display: inline-flex;
        align-items: center;
        
        .title-head {
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 2;
        }
        
        .title-icon {
            transition: all ease-out .2s;
        
            &:hover {
                transform: translateX(4px);
            }
        }
    }
}

.list-slide-padding {
    padding: 10px;
}
